@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+CA:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Story+Script&display=swap');

*{
    margin: 0;
    border: 0;
    text-decoration: none;
}

.fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background: linear-gradient(90deg,rgba(174, 87, 217, 1) 0%, rgba(61, 0, 94, 1) 100%);
}

.Calculadora{
    text-align: center;
    position: absolute;

    /* ==== METODO ANTIGO DE CENTRALIZAÇÃO ==== */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */

    border-radius: 15px;
    padding: 1.5cap;
    color: white;
    font-family: "Smooch Sans", sans-serif;
    background-color: rgba(31, 31, 31, 0.868);
}

.botao{
    margin: 2px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(107, 0, 207);
    color: aliceblue;
    height: 70px;
    width: 70px;
    cursor: pointer;

}

.botao:hover{
    background-color: rgb(89, 0, 173);
    color: rgb(196, 196, 196);
}

#Result{
    background-color: white;
    width: 287px;
    height: 40px;
    margin: 5px;
    font-size: 30px;
    padding: 7px;
    text-align: right;
    color: black;
}

.Calculadora h1{
    font-size: 5cap;
    color: rgb(205, 149, 240);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: rgb(15, 7, 14);
}

.nome{
    color: rgb(223, 153, 252);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline solid rgb(132, 57, 163);
    -webkit-text-stroke-color: rgb(15, 7, 14);
    -webkit-text-stroke-width: 0.2px;
    padding: 10px;
    /* ==== METODO ANTIGO DE CENTRALIZAÇÃO ==== */
    /* margin-left: 62%; */
    /* transform: translate(-50%); */
}

footer{
    height: 2.5cap;
    display: flex;
    background: linear-gradient(90deg,rgb(145, 73, 181) 0%, rgb(53, 0, 82) 100%);
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color:aliceblue;
}
